<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <script src="/" type="text/javascript"></script> -->
    <title>tittle hbs</title>
  </head>
  <body>
    <!-- <h1><a href="/posts">hello posts bullshit</a></h1> -->
    {{{body}}}
  </body>
</html>
